body {
	font-family: 'Roboto', sans-serif;
}
img {
	max-width: 100%;
	height: auto;
}
.mdl-layout {
	min-height: 100vh;
}
.mdl-layout__container {
	position: static;
}
.mdl-layout__content{
	display: flex;
	flex-direction: column;
}
.page-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.header {
	max-width: 1200px;
	margin: 0 auto;
	flex-grow: 1;
}

.for-header {
	display: flex;
	align-items: center;
}
.for-header__right {
	text-align: right;
}
.company{

}
.time {
	font-size: 16px;
	display: block;
}
.mdl-card--item {
	max-width: 100%;
	width: 100%;
}
.mdl-card__price {
	font-size: 16px;
}
.mdl-card__price b{
	font-weight: normal;
}
.menu-link {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}
.margin-0 {
	margin: 0;
}
.item__img {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 260px;
	overflow: hidden;
}
.basket__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 10px;
}
@media screen and (min-width: 420px) {
	
	.mdl-dialog {
		width: 380px;
		
	}
}
.mdl-cell--of {
	overflow-x:auto;
	overflow-y: hidden;
}
.mdl-icon {
	vertical-align: bottom;
	font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.basket {
	position: relative;
	max-width: 100%;
}
.basket__text {
	font-size: 18px;
	padding-right: 30px;
}
.basket__ul {
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 10;
	list-style: none;
	border-radius: 5px;
	box-sizing: border-box;
}
.basket__item {
	/*background-color: darkred;*/
	padding: 5px;
	/*color: #fff;*/
	font-size: 16px;
}
.basket_total_amount {
	font-size: 16px;
	padding: 20px;
	text-align: right;
}
.checkout__count {
	width: 25px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}
.mdl-data-table {
	width: 100%;
	font-size: 16px;
}
.mdl-data-table th {
	font-size: 14px;
}
.сheckout-form{
	width: 100%;
}