body {
	font-family: 'Roboto', sans-serif;
}
img {
	max-width: 100%;
	height: auto;
}
.header {
	/*padding-top: 64px;*/
	max-width: 1200px;
	margin: 0 auto;
}
.for-header {
	display: flex;
	align-items: center;
}
.for-header__right {
	text-align: right;
}
.company{

}
.time {
	font-size: 16px;
	display: block;
}
.mdl-card--item {
	max-width: 100%;
	width: 100%;
}
.mdl-card__price {
	font-size: 16px;
}
.mdl-card__price b{
	font-weight: normal;
}