{% extends 'base-checkout.html' %}
{% block title %}
  Доставка пиццы в Омске
{% endblock %}


{% block content %}
  <div class="header">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-grid for-header">
          <div class="mdl-cell mdl-cell--6-col mdl-cell mdl-cell--4-col-tablet">
            <h3 class="company">Доставка пиццы в Омске</h3>
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet for-header__right">
            <h4 class="phone">8-908-123-456-78-90</h4>
            <span class="time">Режим работы: с 11:00 до 23:00 <br>без обеда и выходных</span>
          </div>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
        <h4>Корзина:</h4>
      </div>

      <form action="" method="post" class="сheckout-form">{% csrf_token %}


        <div class="mdl-cell mdl-cell--of mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="order-table">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Блюдо</th>
              <th>Количество</th>
              <th>Цена за единицу</th>
              <th>Общая стоимость</th>
              <th>Удалить</th>
            </tr>
            </thead>
            <tbody  class="checkout-tbody">
            {% for item_in_basket in items_in_basket %}
              <tr class="checkout-tr">
                <td class="mdl-data-table__cell--non-numeric checkout-td">
                  {{ item_in_basket.item.title }}
                </td>

                <td class="checkout-td">
                  <div class="mdl-textfield mdl-js-textfield is-dirty is-upgraded checkout__count"
                       data-upgraded=",MaterialTextfield">
                    <input class="mdl-textfield__input item-in-basket-count" type="number" pattern="-?[0-9]*(\.[0-9]+)?"
                           id="count" value="{{ item_in_basket.count }}" name="item_in_basket_{{ item_in_basket.id }}">
                    <label class="mdl-textfield__label" for="count">Количество</label>
                    <span class="mdl-textfield__error">Введите число!</span>
                  </div>
                </td>

                <td class="checkout-td">
                  <span class="item-price">{{ item_in_basket.price_per_item }}</span> руб.
                </td>

                <td class="checkout-td">
                  <span class="total_item_in_basket_amount">
                    {{ item_in_basket.total_price }}
                  </span>
                    руб.
                </td>

                <td class="checkout-td">
                  <a class="delete-item-checkout" href="" data-item_id="{{ item_in_basket.id }}"><i
                      class="mdl-icon">clear</i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>

        <div class="mdl-cell mdl-cell--12-col">
          <h4>Введите данные:</h4>
        </div>


        <div class="mdl-cell mdl-cell--of mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2" data-upgraded=",MaterialDataTable">
            <tbody>

            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="sample3" name="{{ form.name.html_name }}">
                  <label class="mdl-textfield__label" for="sample3">Имя</label>
                  <span class="mdl-textfield__error">Введите имя!</span>
                </div>
              </td>

              <td>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4"
                         required name="{{ form.phone.html_name }}">
                  <label class="mdl-textfield__label" for="sample4">Телефон *</label>
                  <span class="mdl-textfield__error">Введите телефон!</span>
                </div>
              </td>

              <td>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="sample4" name="{{ form.email.html_name }}">
                  <label class="mdl-textfield__label" for="sample4">Email</label>
                  <span class="mdl-textfield__error">Введите email!</span>
                </div>
              </td>

              <td class="mdl-data-table__cell--non-numeric">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="sample7" name="{{ form.address.html_name }}">
                  <label class="mdl-textfield__label" for="sample7">Адрес</label>
                  <span class="mdl-textfield__error">Введите адрес!</span>
                </div>
              </td>

            </tr>
            </tbody>
          </table>

        </div>

        <div class="mdl-cell mdl-cell--12-col">

          <span>{{ form.errors }}</span>

          <div class="basket_total_amount">
            Сумма заказа: <span id="basket_total_amount"></span> руб.
          </div>

          <div class="basket__wrapper">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored show-modal"
                    data-upgraded=",MaterialButton" id="submit-order">Заказать
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}