{% extends 'base.html' %}
{% block title %}
	Доставка пиццы в Омске
{% endblock %}


{% block content %}
	<div class="header">
		<div class="mdl-grid">

			{% for item in items %}
				<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
					<div class="mdl-card--item mdl-card mdl-shadow--2dp">
						<img src="/media/{{ item.image }}" alt="">
						<div class="mdl-card__title">
							<h2 class="mdl-card__title-text">{{ item.title }}</h2>
						</div>
						<div class="mdl-card__supporting-text">
							<p>{{ item.description|truncatechars_html:80 }}</p>
							<p class="mdl-card__price"> Цена: <b>{{ item.price }} </b>руб.</p>
						</div>
						<div class="mdl-card__actions mdl-card--border">
							<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
								Подробнее
							</a>
							<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
								Заказать
							</a>

						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}