{% extends 'base.html' %}
{% block title %}
	Доставка пиццы в Омске
{% endblock %}

{% block content %}
	<div class="header">
		<div class="mdl-grid">

            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-grid for-header">
                    <div class="mdl-cell mdl-cell--6-col mdl-cell mdl-cell--4-col-tablet">
                        <h3 class="company">Доставка пиццы в Омске</h3>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet for-header__right">
                        <h4 class="phone">8-908-123-456-78-90</h4>
                        <span class="time">Режим работы: с 11:00 до 23:00 <br>без обеда и выходных</span>
                    </div>
                </div>
            </div>

			<div class="mdl-cell mdl-cell--12-col">
				<h4>Товар:</h4>
			</div>

				<div class="mdl-cell mdl-cell--12-col">
					<div class="mdl-card--item mdl-card mdl-shadow--2dp">

						<div class="mdl-grid margin-0">
							<div class="mdl-cell mdl-cell--4-col mdl-cell--5-col-tablet-col">
								<img src="/media/{{ item.image }}" alt="">
							</div>

							<div class="mdl-cell mdl-cell--8-col mdl-cell--3-col-tablet-col">
								<div class="mdl-card__title">
									<h2 class="mdl-card__title-text">{{ item.title }}</h2>
								</div>
								<div class="mdl-card__supporting-text">
									<p>{{ item.description }}</p>
									<p class="mdl-card__price"> Цена: <b>{{ item.price }} </b>руб.</p>
								</div>
								<div class="mdl-card__actions mdl-card--border">
									<form id="order-form">
										<div class="mdl-textfield mdl-js-textfield">
											<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="count">
											<label class="mdl-textfield__label" for="count">Количество</label>
											<span class="mdl-textfield__error">Введите число!</span>
										</div>
										<button type="submit" id="submit-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
											data-item_id ="{{ item.id }}" data-name="{{ item.name }}">
											Заказать
										</button>
									</form>
							</div>
						</div>



						</div>
					</div>
				</div>

		</div>
	</div>

{% endblock %}