{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/material-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/material.red-deep_orange.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script defer src="{% static 'js/material.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>

<form id="csrf" action="{% url 'basket_adding' %}" hidden>
  {% csrf_token %}
</form>

<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><a href="/" class="menu-link">Меню</a></span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Пицца</a>
        <a class="mdl-navigation__link" href="">Оплата</a>
        <a class="mdl-navigation__link" href=""> Доставка</a>
      </nav>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Меню</span>
    <nav class="mdl-navigation">
      <a href="/" class="mdl-navigation__link">Главная</a>
      <a class="mdl-navigation__link" href="">Пицца</a>
      <a class="mdl-navigation__link" href="">Роллы</a>
      <a class="mdl-navigation__link" href="">Напитки</a>
      <a class="mdl-navigation__link" href="">Оплата и доставка</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      {% block content %}{% endblock %}
    </div>

    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Доставка пиццы в Омске 2017</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>

  </main>
</div>
</body>
</html>